@charset "UTF-8";

//** VARIABLES ================================= **//
$mainColor: rgb(18, 18, 18);  // 文字色

//** mixin ===================================== **//
@mixin flexMode($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

/*
Common class for setting width
================================================ */
.inner {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}

// .gradation-inner {
//     // background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
// }



/*
COMMON
================================================ */
* {
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    font-family: "Noto Sans JP", sans-serif;
    color: $mainColor;
    margin-left: 300px;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.section-title {
    font-size: 1.75rem;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
    position: relative;

    /* 左右の横ライン */
    &::before,
    &::after {
        position: absolute;
        content: "";
        top: 50%;
        width: 28%;
        height: 1px;
        background-color: #fff;
    }
    &::after {
        right: 0;
    }
    &::before {
        left: 0;
    }
}

/*-------------------------------------------
#responsive-top-header
-------------------------------------------*/
#responsive-top-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    padding: 10px;

    img {
        width: 185px;
        height: 50px;
    }
}

/*-------------------------------------------
#side-header
-------------------------------------------*/
#side-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    padding: 40px 43px;
    background: #fff;
    z-index: 1002;

    .header-logo {
        margin-bottom: 38px;
        width: 200px;
    }

    ul {
        margin-bottom: 70px;
        li {
            font-size: 0.875rem;
            margin-bottom: 17px;
            a {
                color: $mainColor;
            }
        }
    }
}

/*-------------------------------------------
#video-area
-------------------------------------------*/
#video-area {
    height: 100vh;/*高さを全画面にあわせる*/

    #video {
        position: fixed;
        z-index: -1;/*最背面に設定*/
        top: -220px;
        left: 300px;
        bottom:0;
        overflow: hidden;
    }
}

/*-------------------------------------------
#introduction
-------------------------------------------*/
#introduction {
    background: linear-gradient( rgba(0, 0, 0, 0,), rgba(0, 0, 0, 0.8));
    opacity: 1;
    padding-bottom: 80px;

    .house-projects {
        @include flexMode(space-between);
        flex-wrap: wrap;
        position: relative;
        z-index: 0;

        .house-project {
            border: 1px solid #fff;
            width: 47%;
            margin-bottom: 50px;
            box-shadow: inset 0 -30px 15px 1px #2E2E2E;
            position: relative;
            &:nth-of-type(3),
            &:nth-of-type(4) {
                margin-bottom: 0;
            }
            a {
                display: inline-block;
            }
            p {
                position: absolute;
                bottom: 0;
                color: #fff;
                font-size: 0.75rem;
                padding: 0 0 4px 7px;
            }
            img {
                position: relative;
                z-index: -1;
            }
        }
    }
}

/*-------------------------------------------
#feature
-------------------------------------------*/
#feature {
    font-size: 0.875rem;
    background-color: #000000CC;
    padding: 80px 0 160px;

    .feature-blocks {
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: #fff;

        .feature-block {
            width: 30%;
            position: relative; /* 相対指定※疑似要素 */
            .circle {
                height        : 0;
                padding-bottom: 100%; /* サイズの比率を維持するために高さをパーセンテージで指定 */
                overflow      : hidden;   /* hoverが円からはみ出さない */
                display       : flex;     /* 縦中央揃えのため */
                border        : 1px solid #fff;
                border-radius : 50%;
                position      : relative; /* 相対指定※疑似要素 */

                /* 疑似要素 */
                &::before {
                    position   : absolute;    /* アニメーション絶対指定 */
                    content    : "";
                    width      : 0;           /* 横幅0スタート */
                    height     : 100%;        /* 高さは100％で設定 */
                    top        : 0;           /* top0で固定 */
                    left       : 0;           /* left0で固定 */
                    transition : all .5s;
                    background : #dedede55; /* アニメーション背景色 */
                }
                &:hover::before {
                    width      : 100%;         /* 疑似要素hoverで横幅100% */
                }
               span {
                color: #fff;
                z-index: 1;         /* hoverで文字が隠れないようにする */
                position: absolute; /* 絶対位置指定 */
                top: 50%;           /* 上端を中央に */
                left: 50%;          /* 左端を中央に */
                transform: translate(-50%, -50%); /* 中央揃え */
                }
            }

            h3 {
                margin: 15px 0 5px;
            }
        }
    }
}

/*-------------------------------------------
#flow
-------------------------------------------*/
#flow {
    background-color: #ffffff;
    padding: 120px 0;

    .inner {
        .section-title {
            color: $mainColor;
            &::before,
            &::after {
                background-color: $mainColor;
            }
        }

        .flow-chart {
            display: flex;
            margin-top: 60px;

            .chart-nav {
                width: 200px;
                text-align: center;

                li {
                    width: 200px;
                    height: 80px;
                    line-height: 80px;
                    background: #414141;
                    display: block;
                    color: #fff;
                    margin-bottom: 62px;
                    position: relative;
                    z-index: 100;

                    &::before {
                        position: absolute;
                        content: "";
                        top: 80px;
                        right: 0;
                        left: 0;
                        border-top: 30px solid #414141;
                        border-left: 100px solid transparent;
                        border-right: 100px solid transparent;
                    }
                    &:after {
                        position: absolute;
                        content: "";
                        bottom: -65px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 60px;
                        width: 50px;
                        background: #FFDD00;
                        z-index: -1;
                    }
                    &:last-of-type:after {
                        display: none; /* 最後のli要素を非表示 */
                    }
                }
            }

            .items {
                margin-left: 10%;

                .item {
                    position: relative;
                    margin-bottom: 45px;

                    .number {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: -45px;
                        color: #fff;
                        background-color: #414141;
                        height: 34px;
                        width: 34px;
                        border-radius: 50%;
                        text-align: center;
                        padding-top: 3px;
                    }

                    dl {
                        dt {
                            font-size: 1.25rem;
                            border-bottom: 1px solid $mainColor;
                            padding-bottom: 10px;
                        }
                        dd {
                            padding: 10px 10px 0 0;
                        }
                    }
                }
            }
        }
    }
}

/*-------------------------------------------
#contact
-------------------------------------------*/
#contact {
    background-color: #fff;
    padding-bottom: 160px;

    .inner {
        .section-title {
            color: $mainColor;
            &::before,
            &::after {
                background-color: $mainColor;
            }
        }

        .contact-contents {
            @include flexMode(space-between);
            text-align: center;
            margin-top: 60px;

            .content {
                width: 30%;
                border: 1px solid $mainColor;

                a {
                    display: block;
                    font-size: 0.875rem;
                    color: $mainColor;
                    padding: 53px 0;
                    transition: all .1s;
                    position: relative;
                    &:hover {
                        outline: 4px solid $mainColor;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        bottom: 4px;
                        right: 4px;
                        height: 20px;
                        width: 20px;
                        background: $mainColor;
                        clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
                    }
                }
            }
        }
    }
}

/*-------------------------------------------
#footer
-------------------------------------------*/
#footer {
    background-color: rgb(18,18,18);
    color: #fff;
    text-align: center;
    padding: 40px 0 20px;

    a {
        color: #fff;
    }

    .footer-nav {
        @include flexMode(center);
        flex-wrap: wrap;
        li {
            font-size: 0.875rem;
            width: auto;
            border-right: 1px solid #fff;
            padding: 0 20px;
            margin-top: 10px;
            &:last-child {
                border-right: none;
            }
        }
    }

    .copyright {
        font-size: 0.75rem;
        margin-top: 60px;
    }
}

/*-------------------------------------------
#return-btn
-------------------------------------------*/
#return-btn {
    visibility : hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    position: fixed;
    content: "";
    bottom: 25px;
    right: 25px;
    text-align: center;
    a {
        display: block;
        height: 50px;
        width: 50px;
        background: #121212;
        border: 1px solid #fff;
        border-radius: 50%;
        z-index: 10;
        opacity: 0.2;
    }
    ::before {
        position: absolute;
        content: "";
        bottom: 21px;
        transform: translateX(-50%);
        height: 6px;
        width: 14px;
        background: #ffffff;
        opacity: 1;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    }
}

/* レスポンシブ・ブレークポイントpx
------------------------------- */
@media screen and (max-width: 960px) {
    body {
        margin: 0;
    }
    .section-title {
        font-size: 1.25rem;
        margin-bottom: 30px;

        /* 左右の横ライン */
        &::before,
        &::after {
        width: 18%;
    }
    }

    /*-------------------------------------------
    #responsive-top-header
    -------------------------------------------*/
    #responsive-top-header {
        display: block;
    }

    /*-------------------------------------------
    #side-header
    -------------------------------------------*/
    #side-header {
        /* ビューポート幅の100%分移動してウインドウの外に */
        translate: -100vw;

        .header-logo {
            display: none;
        }
    }

    .open #side-header {
        left: 0;
    }

    /*-------------------------------------------
    ハンバーガーメニュー
    -------------------------------------------*/
    .hamburger {
        position: fixed;
        top: 26px;
        right: 20px;
        width: 30px;
        height: 30px;
        z-index: 1001;
        cursor: pointer;

        span {
            position: absolute;
            background: $mainColor;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            transition: all .4s;
            &:nth-of-type(1) {
                top: 0;
            }
            &:nth-of-type(2) {
                top: 10px;
            }
            &:nth-of-type(3) {
                top: 20px;
            }
        }
        &.open span:nth-of-type(1) {
            background: #ffffff;
            top: 10px;
            transform: rotate(-315deg);  /* 1本目を反時計回りに45度回転 */
            z-index: 1001;
        }
        &.open span:nth-of-type(2) {
            background: #ffffff;
            opacity: 0;
        }
        &.open span:nth-of-type(3) {
            background: #ffffff;
            top: 10px;
            transform: rotate(315deg);  /* 3本目を反時計回りに45度回転 */
        }
    }

    /* メニュークリック後の黒色背景 */
    .black-mask {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    background-color: #000;
    cursor: pointer;
    }

    .open .black-mask {
        opacity: 0.8;
        visibility: visible;
    }

    /*-------------------------------------------
    #video-area
    -------------------------------------------*/
    #video-area {
        height: 90vh;

        #video {
            top: 70px;
            left: 0;
            width: 100%;
            height: 100%; /* ビデオを #video-area の幅と高さに合わせる */
            overflow: hidden; /* 画面外の部分を隠す */
            text-align: center;

            video {
                width: auto;
                height: 520px;
                object-fit: cover; /* アスペクト比を維持しつつ親要素にフィット */
            }
        }
    }

    /*-------------------------------------------
    #introduction
    -------------------------------------------*/
    #introduction {
        padding-bottom: 40px;

        .house-projects {
            flex-direction: column;

            .house-project {
                width: 100%;
                margin-bottom: 33px;
                &:nth-of-type(3) {
                    margin-bottom: 33px;
                }
            }
        }
    }

    /*-------------------------------------------
    #feature
    -------------------------------------------*/
    #feature {
        padding-bottom: 120px;
    }

    /*-------------------------------------------
    #flow
    -------------------------------------------*/
    #flow {
        padding: 60px 0;

        .inner {
            .flow-chart {
                flex-direction: column;
                margin-top: 30px;

                .chart-nav {
                    width: 100%;
                    padding: 0 20px;
                    align-items: center;

                    li {
                        width: 100%;
                        &::before {
                            border-left: calc(50vw - 40px) solid transparent;
                            border-right: calc(50vw - 40px) solid transparent;
                        }
                    }
                }

                .items {
                    margin-left: 50px;
                }
            }
        }
    }

    /*-------------------------------------------
    #contact
    -------------------------------------------*/
    #contact {
        padding-bottom: 100px;

        .inner {
            .contact-contents {
                flex-direction: column;
                margin-top: 30px;
                .content {
                    width: 60%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
